@import '../../sass/base/colors';

:local(.container) {
   margin-top: 2rem;
   width: 100%;
   svg {
      max-width: 400px;
   }
   div {
      font-size: 2rem;
      margin-bottom: 4rem;
      text-align: center;
      color: $hackspeed_blue;
      &:first-child {
         margin-bottom: 2rem;
      }
   }
   button {
      text-align: center;
      width: 400px;
      margin: auto;
      display: block;
      font-size: 1rem;
      color: white;
      background-color: $gunmetal;
      border-radius: 5px;
      padding: 20px;
      cursor: pointer;
      &:hover {
         background-color: darken($gunmetal, 10)
      }
   }
}